.box{
    text-align: center;
    color: white;
}
.c{
    background-color: red;
    border: 5px solid white;
    border-radius: 7px;
}
.e{
    padding: 20px;
}
.d{
    padding: 20px;
}
.f{
    padding: 10px;
}
.b{
    height: 40px;
    margin-top: 30px;
}
.a{
    height: 70px;
    padding: 17px;
}